#MagnavoxOdyssey{
    background-color: blue;
}
#SuperFamicom{
    background-color: yellow;
}
#Nintendo64{
    background-color: aqua;
}
#PlayStation2{
    background-color: lightblue;
}
#PlayStation4{
    background-color: yellowgreen;
}